{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<style>
  .product-image-container {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .product-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .product-image-container:hover .product-image {
    transform: scale(1.1);
  }

  .product-image-container:hover .product-details {
    opacity: 1;
    transform: translateY(0);
  }

  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .product-price {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
  }
</style>
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url 'nonfiction' %}" class="list-group-item list-group-item-action" aria-current="true">All Non-fiction</a>
    <a href="{% url 'nonfictiondata' 'Manga' %}" class="list-group-item list-group-item-action" aria-current="true">Manga</a>
   </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      {% for product in nonfiction %}
      <div class='col-sm-4 text-center mb-4'>
        <a href="{% url 'product-detail' product.id %}" class="btn">
          <div class="item">
            <div class="product-image-container">
              <img src="{{product.product_image.url}}" alt="" class="product-image">
              <div class="product-details">
                <div class="product-title">{{product.title}}</div>
                <div class="product-price">Taka. {{product.discounted_price}}</div>
                <small class="text-decoration-line-through">Taka. {{product.selling_price}}</small>
              </div>
            </div>
          </div>  
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}
